# Virtual environments
venv/
product_env/
.env

# Python cache files
__pycache__/
*.pyc
*.pyo

# IDE configurations
.vscode/
.idea/

# Dependency management
*.egg-info/

#database related stuff
instance
uploads

#cph file
.cph
