<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workspace Details</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body class="bg-gray-100 text-gray-800">
    <div class="min-h-screen flex">
        <!-- Sidebar -->
        <div class="w-64 bg-purple-800 text-white fixed h-full">
            {% include 'sidebar.html' %}
        </div>

        <!-- Main Content -->
        <main class="ml-64 flex-grow py-8">
            <div class="bg-white rounded shadow-md p-8">
                <div class="flex flex-row justify-between">
                    <h2 class="text-3xl font-semibold mb-4 text-purple-800">Workspace Details</h2>
                    <form method="post" action="{{ url_for('delete_workspace', workspace_id=context['workspace'].id) }}">
                        <button type="submit" class="bg-red-500 text-white px-4 py-2 rounded" 
                                onclick="return confirm('Are you sure you want to delete this workspace?');">
                            Delete
                        </button>
                    </form>
                </div>
                <div class="mb-6">
                    <h3 class="text-xl font-bold text-gray-700">{{ context['workspace'].name }}</h3>
                    <p class="text-gray-600">Created on: {{ context['workspace'].created_on.strftime('%b %d, %Y') }}</p>
                </div>
                <div>
                    <h3 class="text-xl font-bold text-gray-700 mb-4">Uploaded Files</h3>
                    <table class="min-w-full bg-white border border-gray-200 rounded">
                        <thead class="bg-gray-100 border-b">
                                <th class="py-3 px-4 text-left text-gray-600 font-medium">File Name</th>
                                <!-- <th class="py-3 px-4 text-left text-gray-600 font-medium">Upload Date</th> -->
                                <th class="py-3 px-4 text-left text-gray-600 font-medium">Actions</th>
                        </thead>
                        <tbody>
                            {% for file in context['files'] %}
                                <tr class="border-b hover:bg-gray-50">
                                    <td class="py-3 px-4">{{file.filename}}</td>
                                    <td class="py-3 px-4">
                                        <a href="{{ url_for('datagrid', workspace_id=context['workspace'].id) }}">
                                            <button class="bg-blue-600 text-white px-3 py-1 rounded hover:bg-blue-500">View</button>
                                        </a>
                                        <button class="bg-red-600 text-white px-3 py-1 rounded hover:bg-red-500">Delete</button>
                                        <a href="/workspace/{{ context['workspace'].id }}/prepare" class="px-6 py-2 bg-green-600 hover:bg-green-700 text-white font-semibold rounded-lg shadow-md focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-opacity-50 transition">
                                            Modify
                                        </a>                                        
                                    </td>
                                    
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="mt-6">
                    <button class="bg-purple-800 text-white px-4 py-2 rounded hover:bg-purple-700">
                        Upload New File
                    </button>
                </div>

                <div>
                    <h3 class="text-xl font-bold text-gray-700 mb-4 mt-8">Dashboards</h3>
                    <table class="min-w-full bg-white border border-gray-200 rounded">
                        <thead class="bg-gray-100 border-b">
                                <th class="py-3 px-4 text-left text-gray-600 font-medium">Title</th>
                                <th class="py-3 px-4 text-left text-gray-600 font-medium">Actions</th>
                        </thead>
                        <tbody>
                            {% for dashboard in context['dashboards'] %}
                                <tr class="border-b hover:bg-gray-50">
                                    <td class="py-3 px-4">{{ dashboard.title }}</td>
                                    <td class="py-3 px-4">
                                        <button class="bg-blue-600 text-white px-3 py-1 rounded hover:bg-blue-500">View</button>
                                        <button class="bg-red-600 text-white px-3 py-1 rounded hover:bg-red-500">Delete</button>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="mt-6">
                    <!-- Button to Trigger Modal -->
                    <a href="{{ context['workspace'].id}}/dashboard/create" class="bg-purple-800 text-white px-4 py-2 rounded hover:bg-purple-700"
                            >
                        New Dashboard
                    </a>
                </div>


                <div>
                    <h3 class="text-xl font-bold text-gray-700 mb-4 mt-8">Reports</h3>
                    <table class="min-w-full bg-white border border-gray-200 rounded">
                        <thead class="bg-gray-100 border-b">
                                <th class="py-3 px-4 text-left text-gray-600 font-medium">Title</th>
                                <th class="py-3 px-4 text-left text-gray-600 font-medium">Actions</th>
                        </thead>
                        <tbody>
                            {% for report in context['reports'] %}
                                <tr class="border-b hover:bg-gray-50">
                                    <td class="py-3 px-4">{{ report.title }}</td>
                                    <td class="py-3 px-4">
                                        <button class="bg-blue-600 text-white px-3 py-1 rounded hover:bg-blue-500">View</button>
                                        <button class="bg-red-600 text-white px-3 py-1 rounded hover:bg-red-500">Delete</button>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="mt-6">
                    <button class="bg-purple-800 text-white px-4 py-2 rounded hover:bg-purple-700">
                        New Report
                    </button>
                </div>

                {# charts #}
                <div>
                    <h3 class="text-xl font-bold text-gray-700 mb-4 mt-8">Charts</h3>

                    <table class="min-w-full bg-white border border-gray-200 rounded">
                        <thead class="bg-gray-100 border-b">
                                <th class="py-3 px-4 text-left text-gray-600 font-medium">Title</th>
                                <th class="py-3 px-4 text-left text-gray-600 font-medium">Actions</th>
                        </thead>
                        <tbody>
                            {% for chart in context['charts'] %}
                                <tr class="border-b hover:bg-gray-50">
                                    <td class="py-3 px-4">{{ chart.title }}</td>
                                    <td class="py-3 px-4 flex space-x-2">
                                        <button class="bg-blue-600 text-white px-3 py-1 rounded hover:bg-blue-500">
                                            View
                                        </button>
                                        <form method="POST" action="{{ url_for('delete_chart', chart_id=chart.id) }}" 
                                              onsubmit="return confirm('Are you sure you want to delete this chart?');">
                                            <button type="submit" class="bg-red-600 text-white px-3 py-1 rounded hover:bg-red-500">
                                                Delete
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        
                    </table>
                </div>
                <div class="mt-6 flex justify-between items-center">
                    <a href="{{ url_for('create_chart', workspace_id=context['workspace'].id) }}" 
                       class="bg-purple-800 text-white px-4 py-2 rounded hover:bg-purple-700">
                        New Chart
                    </a>
                    <a href="{{ url_for('view_charts', workspace_id=context['workspace'].id) }}" 
                       class="bg-purple-800 text-white px-4 py-2 rounded hover:bg-purple-700">
                        View Charts
                    </a>
                </div>



    <div class="mt-8">
    <h3 class="text-xl font-bold text-gray-700 mb-4">Financial Models</h3>
    <button onclick="showFinancialModelForm()" 
            class="bg-purple-800 text-white px-4 py-2 rounded hover:bg-purple-700">
        Apply Financial Model
    </button>

        <!-- Financial Model Form -->
        <div id="financialModelForm" class="hidden mt-4 p-4 border rounded bg-gray-50">
            <form method="POST" action="/apply_model">
                <div class="mb-4">
                    <label for="selected_file" class="block text-sm font-medium text-gray-700 mb-2">Select Data File:</label>
                    <select name="selected_file" id="selected_file" required 
                            class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none">
                        {% for file in context['files'] %}
                            <option value="{{ file.filename }}">{{ file.filename }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="mb-4">
                    <label for="financial_model" class="block text-sm font-medium text-gray-700 mb-2">Select Financial Model:</label>
                    <select name="financial_model" id="financial_model" required 
                            class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none">
                        <option value="" disabled selected>Choose a model</option>
                        <option value="Customer Segmentation">Customer Segmentation</option>
                        <option value="Risk Assessment">Risk Assessment</option>
                        <option value="Portfolio Optimization">Portfolio Optimization</option>
                    </select>
                </div>


                <div class="mt-4 flex justify-end">
                    <button type="submit" 
                            class="bg-blue-600 text-white px-6 py-2 rounded hover:bg-blue-500">
                        Apply Model
                    </button>
                </div>

                
            </form>
        </div>
    </div>

                
            <!-- Modal Popup -->
            <div id="modal" class="fixed inset-0 bg-gray-900 bg-opacity-50 flex items-center justify-center hidden">
                <div class="bg-white p-6 rounded shadow-lg w-1/3">
                    <h3 class="text-lg font-bold text-gray-700 mb-4">Create New Dashboard</h3>
                    <form id="dashboardForm" method="post" action="{{context['workspace'].id}}/dashboard/new">
                        <div class="mb-4">
                            <label for="title" class="block text-gray-700">Title</label>
                            <input type="text" id="title" name="title" class="w-full border border-gray-300 p-2 rounded" required>
                        </div>
                        <div class="mb-4">
                            <label for="description" class="block text-gray-700">Description</label>
                            <textarea id="description" name="description" class="w-full border border-gray-300 p-2 rounded" required></textarea>
                        </div>
                        <div class="flex justify-end">
                            <button type="button" class="bg-gray-500 text-white px-4 py-2 rounded mr-2" 
                                    onclick="closeModal()">Cancel</button>
                            <button type="submit" class="bg-purple-800 text-white px-4 py-2 rounded">Create</button>
                        </div>
                    </form>
                </div>
            </div>
            </div>
        </main>
    </div>
    <script>
        const modal = document.getElementById('modal');

        function openModal() {
            modal.classList.remove('hidden');
        }

        function closeModal() {
            modal.classList.add('hidden');
        }


        function showFinancialModelForm() {
            const form = document.getElementById('financialModelForm');
            form.classList.toggle('hidden');
        }
    </script>
    

</body>
</html>
